<% provide(:title, 'About Us') %>

    <div class="center hero-unit">
    <h2>About Us</h1>

    <p>An application to record all the presale activities like Email marketing, promotions for invo media and rail services and to convert the data to useful analytics.
</P>

   
  </div>